/* @Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



/* CSS custom property or variables */
:root{
  --button-bg: #E02C6D;
  --text-color: #6C6C6C;
}


/* reset default margin padding settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



/* common styles */
header, section,footer{
  display: flex;
  justify-content: center;
}
.container{
  width: 1050px;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.styled-button{
  display: inline-block;
  padding: 10px 30px;
  background: var(--button-bg);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 400ms;
  padding-right: 40px;
}
.styled-button .fas{
  transform: translateX(5px);
  transition: all 400ms;
}
.styled-button:hover .fas{
  transform: translateX(20px);
}
/* ! common styles */



/* header area design */
.header{
  background: #2D25A0;
  padding: 20px 0;
}
.header .navigation-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu{
  display: flex;
  align-items: center;
}
.header .menu li{
  list-style-type: none;
}
.header .menu li a{
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 500;
  transition: color 400ms;
}
.header .menu li a:hover{
  color: var(--button-bg);
}
.header .login a{
  display: inline-block;
  padding: 10px 30px;
  background: var(--button-bg);
  color: #fff;
  border: 1px solid transparent;
  transition: all 400ms;
}
.header .login a .fas{
  margin-right: 6px;
}
.header .login a:hover{
  background: transparent;
  border-color: var(--button-bg);
}
/* ! header area design */



/* hero seciton design */
#hero{
  padding-bottom: 40px;
  background: #2D25A0;
}
#hero .hero-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  align-items: center;
}
#hero .hero-details h2{
  font-size: 64px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 20px;
}
#hero .hero-image{
  position: relative;
}
#hero .hero-image img{
  position: relative;
}
#hero .hero-image img:first-child{
  left: 0;
  top: 100px;
  height: 120px;
}
#hero .hero-image img:last-child{
  right: 0;
  bottom: 0;
}
@keyframes football {
  from{
    top:100px;
    left: 0;
  }
  to{
    top:150px;
    left: 30px;
  }
}
@keyframes player {
  from{
    bottom: 0;
    right: 0;
  }
  to{
    bottom: 33px;
    right: 28px;
  }
}
#hero:hover .hero-image img:first-child{
  animation: football 1.5s linear infinite running alternate;
}
#hero:hover .hero-image img:last-child{
  animation: player 1.5s linear infinite running alternate;
}

/* ! hero seciton design */


/* players section design */
#players{
  padding: 40px 0;
}
#players .players-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
#players .single-player{
  box-shadow: #11111a0d 0px 4px 16px, #11111a0d 0px 8px 32px;
  padding: 10px;
}
#players .single-player .player-img{
  overflow: hidden;
}
#players .single-player .player-img img{
  transition: transform 700ms;
}
#players .single-player:hover .player-img img{
  transform: scale(1.4) rotate(2deg);
}
#players .single-player .player-info{
  padding: 15px 0;
}
#players .single-player .player-info .player-name{
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}
#players .single-player .player-info .player-desc{
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color);
}
/* ! players section design */



/*  EXTRA SECTION Latest Result sention design */
#results{
  padding: 40px 0;
  position: relative;
}
#results::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 42%;
  width: 100%;
  background: #ff8bcb6c;
  z-index: -1;
}
.section-title{
  text-align: center;
}
.section-title h2{
  font-size: 45px;
  color: #222222;
  margin-bottom: 15px;
}
.section-title h2 span{
  color: var(--button-bg);
}
#results .result-wrapper{
  display: flex;
  align-items: center;
  margin-top: 25px;
}
#results .result-wrapper .winner,
#results .result-wrapper .looser{
  flex-grow: 1;
  position: relative;
}
#results .result-wrapper .winner{
  text-align: end;
}
#results .result-wrapper img{
  z-index: 2;
  position: relative;
}
#results .result-wrapper .winner .winner-info,
#results .result-wrapper .looser .winner-info{
  position: absolute;
  width: 250px;
  padding: 25px;
  background: #111;
  bottom: 7px;
  z-index: 0;
}
#results .result-wrapper .winner .winner-info{
  right: 100px;
  text-align: start;
}
#results .result-wrapper .looser .winner-info{
  left: 100px;
  text-align: end;
}
#results .result-wrapper .winner-info h4{
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
#results .result-wrapper .winner-info p{
  font-size: 17px;
  color: var(--button-bg);
  font-weight: 500;
  margin: 5px 0;
  letter-spacing: 2px;
}
#results .result-wrapper .looser .winner-info p{
  color: #e60909;
}
#results .result-wrapper .winner .winner-info::after,
#results .result-wrapper .looser .winner-info::after{
  position: absolute;
  content: '';
  height: 100%;
  width: 140px;
  background: #111;
  top: 0;
  z-index: -1;
}
#results .result-wrapper .winner .winner-info::after{
  left: -46px;
  transform: skew(-30deg);
}
#results .result-wrapper .looser .winner-info::after{
  right: -46px;
  transform: skew(30deg);
}
#results .result-wrapper .score{
  color: #111;
  padding: 0 20px;
  text-align: center;
}
#results .result-wrapper .score h2{
  font-size: 50px;
  font-weight: 900;
}
#results .result-wrapper .score .vs{
  position: relative;
  bottom: 50px;
  color: #666;
}
/*  ! EXTRA SECTION Latest Result sention design */



/*  EXTRA SECTION Latest News sention design */
#latest-news{
  padding: 40px 0;
  background: url(../images/news/news-bg.jpg);
}
#latest-news .latest-news-title{
  font-size: 45px;
  color: #111;
}
#latest-news .news-wrapper{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 25px;
}
#latest-news .latest-news-title i,
#latest-news .latest-news-title span{
  color: var(--button-bg);
}
#latest-news .news-1,
#latest-news .news-3{
  display: flex;
}
#latest-news .news-img{
  overflow: hidden;
}
#latest-news .news-1 .news-img img,
#latest-news .news-3 .news-img img{
  height: 100%;
  width: 550px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#latest-news .side-news .news-img img{
  width: 100%;
}
#latest-news .single-news{
  background: #fff;
  border-radius: 5px;
}
#latest-news .single-news .news-contents{
  padding: 15px 20px;
}
#latest-news .single-news .news-img{
  position: relative;
}
#latest-news .single-news .single-news-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#latest-news .single-news .single-news-header .news-reporter{
  display: flex;
  align-items: center;
}
#latest-news .single-news .single-news-header img{
  border-radius: 50%;
  margin-right: 10px;
}
#latest-news .single-news .single-news-header h5{
  font-size: 16px;
  color: var(--button-bg);
  font-style: italic;
  font-weight: normal;
}
#latest-news .single-news .single-news-header i{
  margin: 0 5px;
}
#latest-news .single-news i{
  color: var(--button-bg);
}
#latest-news .single-news .news-title a{
  color: #111;
  font-weight: 500;
  font-size: 22px;
  transition: color 400ms;
}

#latest-news .single-news .news-info{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
#latest-news .single-news .news-info i{
  margin-right:6px;
}
#latest-news .single-news .single-news-header span,
#latest-news .single-news .news-info span,
#latest-news .single-news .news-info p{
  font-size: 14px;
  color: #111;
  font-weight: 500;
}
#latest-news .single-news .news-desc{
  font-size: 15px;
  color: #111;
  margin-bottom: 10px;
}
#latest-news .single-news .styled-button{
  font-size: 14px;
  filter: grayscale(100);
}
#latest-news .single-news:hover .news-title a{
  color: var(--button-bg);
}
#latest-news .single-news:hover .styled-button{
  filter: grayscale(0);

}
/*  ! EXTRA SECTION Latest News sention design */




/* footer seciton design */
footer{
  padding: 20px 0;
}
footer .footer-logo{
  text-align: center;
}
footer .footer-logo img{
  height: 50px;
  width: auto;
}
footer .social-icons{
  text-align: center;
  margin: 10px 0;
}
footer .social-icons a{
  color: #111;
  padding: 10px;
  background: #ddd;
  font-size: 20px;
  display: inline-block;
  width: 50px;
  border-radius: 50%;
  transition: all .4s;
}
footer .social-icons a:not(:last-child){
  margin-right: 7px;
}
footer .social-icons a:hover{
  background: var(--button-bg);
  color: #fff;
}
footer p.copy-right{
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
/* ! footer seciton design */




/* ===========================================
    Responsive zoon
==============================================*/

@media (max-width: 576px) { 
  .container{
    width: 100%;
    padding: 0 10px;
  }

  /* header responsive */

  .header .menu{
    display: none;
  }

  /* hero section */
  #hero .hero-wrapper{
    grid-template-columns: repeat(1, 1fr);
    padding: 70px 0 50px;
  }
  #hero .hero-details h2{
    font-size: 45px;
    margin-bottom: 20px;
  }

  /* players section */
  #players .players-wrapper{
    grid-template-columns: repeat(1, 1fr);
  }

  /* results section */
  #results::after{
    display: none;
  }
  #results .result-wrapper{
    flex-direction: column;
    align-items: flex-start;
  }

  #results .result-wrapper .winner{
    align-self: flex-end;
  }
  #results .result-wrapper .looser{
    align-self: flex-start;
  }
  #results .result-wrapper .score{
    align-self: center;
    padding: 50px 0;
  }
  #results .result-wrapper .score h2{
    font-size: 45px;
    font-weight: 600;
  }
  #results .result-wrapper .score .vs{
    position: static;
    font-size: 30px;
    font-weight: 500;
  }
  #results .result-wrapper .winner .winner-info,
  #results .result-wrapper .looser .winner-info{
    width: 350px;
  }
  #results .result-wrapper .winner .winner-info::after,
  #results .result-wrapper .looser .winner-info::after{
    width: 140px;
    background: #111;
    top: 0;
    z-index: -1;
  }

  /* Latest News sention */
  #latest-news .news-wrapper{
    grid-template-columns: 1fr;
  }
  #latest-news .news-1,
  #latest-news .news-3{
    flex-direction: column;
  }
  #latest-news .news-1 .news-img img,
  #latest-news .news-3 .news-img img{
    border-radius: 0;
    width: 100%;
  }

}