/* @Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* CSS custom property or variables */
:root{
  --button-bg: #E02C6D;
  --text-color: #6C6C6C;
}


/* reset default margin padding settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



/* common styles */
header, section{
  display: flex;
  justify-content: center;
}
.container{
  width: 80%;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.styled-button{
  display: inline-block;
  padding: 10px 30px;
  background: var(--button-bg);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 400ms;
  padding-right: 40px;
}
.styled-button .fas{
  position: relative;
  left: 5px;
  transition: all 400ms;
}
.styled-button:hover .fas{
  left: 15px;
}
/* ! common styles */



/* header area design */
.header{
  background: #2D25A0;
  padding: 20px 0;
}
.header .navigation-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu{
  display: flex;
  align-items: center;
}
.header .menu li{
  list-style-type: none;
}
.header .menu li a{
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 500;
  transition: color 400ms;
}
.header .menu li a:hover{
  color: var(--button-bg);
}
.header .login a{
  display: inline-block;
  padding: 10px 30px;
  background: var(--button-bg);
  color: #fff;
  border: 1px solid transparent;
  transition: all 400ms;
}
.header .login a .fas{
  margin-right: 6px;
}
.header .login a:hover{
  background: transparent;
  border-color: var(--button-bg);
}
/* ! header area design */



/* hero seciton design */
#hero{
  padding-bottom: 40px;
  background: #2D25A0;
}
#hero .hero-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  align-items: center;
}
#hero .hero-details h2{
  font-size: 64px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 20px;
}
#hero .hero-image{
  position: relative;
}
#hero .hero-image img{
  position: relative;
}
#hero .hero-image img:first-child{
  left: 0;
  top: 100px;
  height: 120px;
  animation: football 1.5s linear infinite running alternate;
}
#hero .hero-image img:last-child{
  right: 0;
  bottom: 0;
  animation: player 1.5s linear infinite running alternate;
}
@keyframes football {
  from{
    top:100px;
    left: 0;
  }
  to{
    top:150px;
    left: 30px;
  }
}
@keyframes player {
  from{
    bottom: 0;
    right: 0;
  }
  to{
    bottom: 33px;
    right: 28px;
  }
}

/* ! hero seciton design */


/* players section design */
#players{
  padding: 40px 0;
}
#players .players-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
#players .single-player{
  box-shadow: #11111a0d 0px 4px 16px, #11111a0d 0px 8px 32px;
  padding: 10px;
}
#players .single-player .player-img{
  overflow: hidden;
}
#players .single-player .player-img img{
  transition: transform 700ms;
}
#players .single-player:hover .player-img img{
  transform: scale(1.4) rotate(2deg);
}
#players .single-player .player-info{
  padding: 15px 0;
}
#players .single-player .player-info .player-name{
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}
#players .single-player .player-info .player-desc{
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color);
}
/* ! players section design */